.breadcrumb {
  background-color: var(--shade5);
}

.content {
  padding: 4px 40px;
  font-size: 0.9em;
  display: flex;
  gap: 10px;
}

.content strong {
  text-transform: capitalize;
}

.bullet {
  margin-left: 10px;
}
