.contact {
  flex-direction: row !important;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 15px;
}

.points {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
}

.point {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 15px;
}

.text {
  flex-grow: 1;
}

.form {
  width: 40%;
  background-color: #eee;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
  position: relative;
}

.form form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 5px;
  width: 100%;
}

.form label {
  display: block;
}

.form button {
  margin-top: 10px;
}

.sentmessage {
  position: absolute;
  top: 100px;
  width: 100%;
  left: 0;
  right: 0;
}

.sentmessage span,
.sentmessage strong {
  background-color: green;
  color: white;
  padding: 10px;
  border-radius: 8px;
  width: 200px;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.sentmessage span {
  background-color: red;
}

@media (max-width: 600px) {
  .contact {
    flex-direction: column;
  }

  .form {
    width: 100%;
  }
}
