.dustfree {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  overflow: hidden;
  border-top: 10px solid var(--primary);
}

.hero {
  width: 100% !important;
  position: relative;
  overflow: hidden;
  flex-direction: row !important;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  gap: 50px !important;
  max-width: 1000px !important;
  margin: 0 auto;
}

.heroImg {
  object-fit: cover;
  top: 0 !important;
  z-index: 1;
}

.title strong {
  color: var(--primary);
  text-shadow: 2px 1px 3px var(--shade5);
}

@media (max-width: 600px) {
  .hero {
    flex-direction: column !important;
  }

  .form {
    width: 100%;
  }
}

