.footer {
  display: flex;
  align-items: center;
  background-color: var(--shade2);
  padding: 19px 50px;
  color: white;
  position: sticky;
  bottom: 0;

  & a:hover {
    color: white;
  }
}

.fixedFooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;
}

.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 45px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 5px;
}

.methods {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
  gap: 15px;
  margin-top: 20px;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 5px;
  text-transform: capitalize;
}


@media (max-width: 600px) {
  .footer {
    height: auto;
    padding: 20px 0 100px;
  }

  .content {
    flex-direction: column-reverse;
    gap: 30px;
    align-items: flex-start;
  }

  .methods {
    justify-content: flex-start;
  }
}
