.footer {
  height: 20vh;
  display: flex;
  align-items: center;
  border-top: 10px solid var(--primary);
  background-color: #f7f7f7;
}

.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footlogo,
.methods img {
  filter: invert(20%) sepia(97%) saturate(2415%) hue-rotate(27deg) brightness(97%) contrast(98%);
}

.company {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 45px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 5px;
}

.methods {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
  gap: 15px;
  margin-top: 20px;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 5px;
}


@media (max-width: 600px) {
  .footer {
    height: auto;
    padding: 20px 0 100px;
  }

  .content {
    flex-direction: column-reverse;
    gap: 30px;
    align-items: flex-start;
  }

  .methods {
    justify-content: flex-start;
  }
}
