:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #c25f1d;
  --shade1: #a74402;
  --shade2: #8d2a00;
  --shade3: #720f00;
  --shade4: #570000;
  --shade5: #3d0000;
  --secondary: #c2b21d;
  --tertiary: #2ec21d;
  --complementary: #1d80c2;
  --content-width: 1400px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1.large {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--shade2);
  font-weight: 500;
}

.multi-btn {
  display: flex;
  justify-content: flex-start;
  justify-items: flex-start;
  align-items: center;
  gap: 5px;
}

.cta {
  background-color: var(--primary);
  padding: 10px 13px;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
  border: none;
}

.cta.red {
  background-color: var(--shade3);
}

.cta.grey {
  filter: grayscale(1);
}

.cta.small {
  font-size: 0.8em;
  padding: 8px 15px;
}

.cta.large {
  font-size: 1.2em;
  padding: 15px 25px;
}

.cta:hover {
  color: white;
  font-weight: 600;
  background-color: var(--shade2);
}

.content {
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 0 15px;
}

.services {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 20px;
}

.services.content {
  padding: 50px;
}

.main-page {
  margin-top: 100px;
}

p.space {
  line-height: 24px;
}

p.semi-bold {
  font-weight: 500;
}

.pod {
  background-color: white;
  border-radius: 8px;
  border: 1px solid #eee;
}

.has-icon {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

ul.no-style {
  list-style: none;
}

.shadow {
  -webkit-box-shadow: 1px 4px 5px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 1px 4px 5px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 1px 4px 5px 0 rgba(0, 0, 0, 0.16);
}

.icon-accent {
  filter: invert(40%) sepia(34%) saturate(5822%) hue-rotate(10deg) brightness(92%) contrast(77%);
}

.center {
  text-align: center;
  margin: 0 auto;
}

.right {
  margin-left: auto;
}

.content-label {
  display: flex;
  padding: 10px;
  border-radius: 7px;
  text-transform: capitalize;
  cursor: pointer;
  background-color: #eee;
}

.content-label:hover {
  filter: brightness(90%);
}

.hero-label {
  color: white;
  background-color: var(--primary);
}

.service-pod-label {
  color: white;
  background-color: var(--secondary);
}

.solutions-label {
  color: white;
  background-color: var(--complementary);
}

input[type="text"] {
  display: block;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

textarea {
  display: block;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

@media (max-width: 600px) {
  h1,
  h2 {
    font-size: 1.5em;
  }

  .main-page {
    margin-top: 60px;
  }

  a.cta {
    display: block;
    text-align: center;
  }
  
  .services.content {
    padding: 30px;
  }
}