.page {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.hero {
  background-color: black;
  height: 55vh;
  position: relative;
}

.hero h1 strong {
  color: var(--secondary);
}

.heroImg {
  object-fit: cover;
  z-index: 1;
}

.servicepod {
  display: flex;
  align-items: center;
  padding: 20px 0 0 0;
  overflow: hidden;
  width: 80%;
  position: relative;
  top: -40px;
  z-index: 2;
  gap: 10px;
}

.text {
  padding: 0 20px 20px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 0.9em;
}

.industries {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  width: 80%;
  margin-left: 8px;
  margin-top: 10px;
}

.solutions {
  position: relative;
  overflow: hidden;
  border-top: 10px solid var(--primary);
  margin-top: 20px;
  height: 55vh;
}

.checks {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
}

@media (max-width: 600px) {
  .servicepod {
    flex-direction: column-reverse;
    width: 90%;
  }

  .text {
    padding: 0 31px;
    width: 100%;
  }

  .industries {
    justify-items: center;
    margin: 34px 0;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 16px;
  }

  .indguy {
    color: transparent;
    position: absolute;
    left: 0;
    opacity: 0.2;
  }

  .solutions {
    height: auto;
    padding: 50px 0 0;
  }
}
