.page {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-height: 70vh;
}

.hero {
  height: 10vh;
  position: relative;
  overflow: hidden;
}

.image {
  object-fit: cover;
  object-position: bottom;
  z-index: 1;
}
