.residential {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-height: 70vh;
}

.hero {
  height: 15vh;
  position: relative;
  overflow: hidden;
}

.heroImg {
  object-fit: cover;
  z-index: 1;
}

.services {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 20px;
  padding: 50px;
}

.service {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 20px;
  padding: 50px;
}

.elements {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.elpod {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  border: 2px solid white;
}

.elpodsm {
  max-width: 200px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  text-align: center;
}

.elpodsm:hover {
  cursor: pointer;
  background-color: #eee;
}

.podtext {
  border-top: 8px solid var(--secondary);
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  gap: 15px;
}
