.service {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-wrap: nowrap;
  overflow: hidden;
  min-width: 0;
}

.img {
  position: relative;
}

.text {
  border-top: 8px solid var(--secondary);
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  gap: 15px;
}
